<header>
  <div class="left">
    <div class="text g-padding">
      <!-- <h2> -->
      <!-- Architect -->
      <img [src]="wImage" width="350px" style="margin-top: -4px" />
      <!-- </h2> -->
      <!-- <h3 class="diff-font">
        <span>
          <img [src]="wImage" width="50px" style="margin-top: -4px" />
        </span>
        للتصميم المعماري و الداخلي
      </h3> -->
      <!-- <p>
        مجموعة "W" للتصميم المعماري و الداخلي هي إحدى الشركات الرائدة التي تم
        تأسيسها عام 2018 و التي تسعى إليتقديم استشارات هندسية وخدمات التصاميم
        المعمارية والداخلي وإدارة المشاريع و كذلك التركيز على خلق بيئات معيشية
        وعملية تلبي تطلعات عملائنا وتحافظ على الهوية المعمارية السعودية.
      </p> -->
    </div>
  </div>
</header>
