:host {
  .projects {
    &__content {
      padding-top: 4rem;
      padding-bottom: 4rem;
      &__title {
        h2 {
          margin-left: auto !important;
          margin-right: auto !important;
          width: max-content;
        }
      }
      &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 6rem 3rem;
      }
    }
  }
}
