<!-- <div class="card" (click)="showDialog()">
    <img class="image" [src]="images.avatar" />
    <div class="details">
        <div class="text">
            <div class="name">
                <p>{{details.name}}</p>
            </div>
            <div class="date">
                <p>{{details.date}}</p>
            </div>
            <div class="service">
                <p>{{details.service}}</p>
            </div>
        </div>
        <div class="rate">
            <p>{{details.rates.total}}</p>
            <p>{{details.totalRateText}}</p>
        </div>
    </div>
</div>

<div class="dialog">
    <p-dialog [header]="'تقييم العملاء'" [draggable]="false" [dismissableMask]="true" [(visible)]="visible"
        [modal]="true" [style]="{width: '50vw'}">
        <div class="content">
            <p-rating [(ngModel)]="details.rates.total" [readonly]="true" [cancel]="false" />
        </div>
    </p-dialog>

</div> -->

<div class="card">
    <p-image [src]="url" alt="project" [preview]="true"></p-image>
</div>