<header>
  <div class="right">
    <img src="../../../../../assets/images/diriyah-1.jpg" />
    <!-- src="https://www.jll-mena.com/images/architecture/exterior/hero-riyadh-real-estate-market-overview-Q3-2017-800-750.png" /> -->
  </div>
  <div class="left">
    <div class="text">
      <h2 class="diff-font">بداية الرحلة…</h2>
      <h3>اهلا بك وشكرا لاهتمامك وتجاوبك معنا،</h3>
      <h3>الرؤية</h3>
      <p>
        تسعى W لإدارة الأملاك إلى أن تصبح العلامة التجارية الرائدة في مجال إدارة
        العقارات والتجارب قصيرة الأجل في المملكة العربية السعودية والشرق الأوسط.
        نحن ملتزمون بتقديم خدمات وحداتنا العقارية، حيث نعمل على تحقيق أعلى
        مستويات الرضا لعملائنا من خلال الابتكار والاحترافية.
      </p>
      <h3>الرسالة</h3>
      <p>
        رسالتنا هي تقديم قيمة استثنائية لمالكي العقارات، الضيوف، والمجتمعات
        المحلية من خلال تقديم حلول مبتكرة مصممة وفق التوقعات، ووضع معايير جديدة
        للتميز في قطاع الضيافة. نحن ملتزمون بتوفير لمسة شخصية فريدة في كل تعامل
        لضمان تحقيق أعلى مستويات الراحة وتعزيز الثقة بجميع الأطراف المعنية، مما
        يعزز تأثيرنا الإيجابي ويستهدف استدامة العلاقات القوية.
      </p>
    </div>
  </div>
</header>
