<div class="contact-us">
  <div class="contact-us__header">
    <app-w-group-sections-header
      [image]="image"
      [title]="title"
      [subtitle]="subtitle"
    ></app-w-group-sections-header>
  </div>

  <div class="contact-us__content g-padding">
    <div class="details">
      <h2 class="gold-title diff-font">تواصل معنا</h2>
      <ul>
        <li *ngFor="let item of details">
          <i [class]="item.icon"></i>
          <p>{{ item.text }}</p>
        </li>
      </ul>
    </div>
    <div class="location">
      <h2 class="gold-title diff-font">موقعنا</h2>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d905.4523301983504!2d46.76075226957421!3d24.80198199862298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjTCsDQ4JzA3LjEiTiA0NsKwNDUnNDEuMCJF!5e0!3m2!1sen!2seg!4v1734372781570!5m2!1sen!2seg"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
