// Cairo
@font-face {
  font-family: "Cairo";
  src: url("../assets/fonts/Cairo/Cairo-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Cairo";
  src: url("../assets/fonts/Cairo/Cairo-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Cairo";
  src: url("../assets/fonts/Cairo/Cairo-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Cairo";
  src: url("../assets/fonts/Cairo/Cairo-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Cairo";
  src: url("../assets/fonts/Cairo/Cairo-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Cairo";
  src: url("../assets/fonts/Cairo/Cairo-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Cairo";
  src: url("../assets/fonts/Cairo/Cairo-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Cairo";
  src: url("../assets/fonts/Cairo/Cairo-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Abdo-Salem";
  src: url("../assets/fonts/Abdo Salem/Abdo-salem-Bold.ttf");
  font-weight: 200;
}
